* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#header {
  width: 100%;
  height: 3.125rem /* 50/16 */;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
  transform: translate3d(0, -100%, 0);
}
#header.visible {
  transform: translateZ(0);
}

#content {
  width: 100%;
  height: 200rem /* 3200/16 */;
  background-color: #caf0f8;
}
