html {
  background-color: #f4f5f5;
}
img {
  width: auto;
  height: auto;
}
.main_header {
  height: 5rem;
  background-color: #fff;
  .logo {
    margin-right: 2rem;
  }
  li.nav-item {
    height: 5rem;
  }
}
.main-nav {
  flex: 1;
}
.nav-list-item {
  display: flex;
}
